name: Cron Job for Demo

on:
  schedule:
    - cron: '0 * * * *' # hourly

concurrency:
  group: production_environment

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Kamal Environment
        uses: ./.github/workflows/setup
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Run seeds
        env:
          KAMAL_REGISTRY_USERNAME: ${{ github.actor }}
          KAMAL_REGISTRY_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
          RAILS_MASTER_KEY: ${{ secrets.RAILS_MASTER_KEY }}

        run: ./bin/kamal app exec --reuse -r web "./bin/rails db:reset DISABLE_DATABASE_ENVIRONMENT_CHECK=1"
