name: Deploy

on:
  workflow_run:
    workflows: ["CI"]
    branches: [main]
    types:
      - completed

concurrency:
  group: production_environment
  cancel-in-progress: true

jobs:
  deploy:
    permissions:
      contents: read
      packages: write

    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    timeout-minutes: 20
    env:
      DOCKER_BUILDKIT: 1
      BUNDLE_ONLY: deploy
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Kamal Environment
        uses: ./.github/workflows/setup
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Kamal Deploy
        uses: igor-alexandrov/kamal-deploy@v0.5.0
        env:
          VERSION: ${{ github.sha }}
          RAILS_MASTER_KEY: ${{ secrets.RAILS_MASTER_KEY }}
